:root {
  --color-background: #e8e0fd;
  --color-text: #111;
  --font-family: Roboto, sans-serif;
}


body {
  background-color: #e8e0fd;
  background-color: var(--color-background);
  color: #111;
  color: var(--color-text);
  display: grid;
  font-family: Roboto, sans-serif;
  font-family: var(--font-family);
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  place-content: center;
}

.app {
  padding: 5vmin;
}

.grid {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.aspect-ratio {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}

.aspect-ratio>* {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.palettes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 3em;
  gap: 3em;
}

.palette {
  -webkit-box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
  box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  margin: 0;
  overflow: hidden;
}

.palette__caption {
  background-color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}